name: .NET

on:
  push:
    branches: [ master, dev ]
  pull_request:
    branches: [ master, dev ]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0    

    - name: Install Build dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y cmake cmake ninja-build build-essential libssl-dev pkg-config libboost-all-dev libsodium-dev libzmq5 libgmp-dev

    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x

    - name: Disable AES-NI for CI (fixes build error)
      run: echo 'export CFLAGS="-O2 -fPIC -DNO_AES_NI"' >> src/Miningcore/build-libs-linux.sh

    - name: Restore dependencies
      run: dotnet restore src

    - name: Build
      run: dotnet build --no-restore src

    - name: Test
      run: dotnet test --logger:"console;verbosity=detailed" --no-build --verbosity normal src
